langchain==0.0.285
openai==0.28.0
tiktoken
PyPDF2==3.0.1
pypdf==3.15.5
python-dotenv==1.0.0
streamlit==1.26.0
faiss-cpu==1.7.4
streamlit-extras==0.3.2
huggingface_hub==0.16.4
streamlit-chat


# huggingface-hub==0.14.1
# InstructorEmbedding==1.0.1
# sentence-transformers==2.2.2